<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- includes the Braintree JS client SDK --> 
    <script src="https://js.braintreegateway.com/web/dropin/1.42.0/js/dropin.min.js"></script> 
    <script src="https://www.paypal.com/sdk/js?client-id=AfqZhATwhx_PfvjJwRKR26GnKo_rAlEwIU4Hoa7p2-gG8r8Uz_JxayXmKtLeUD5Hk-A4yLZV1YfrUsiP"></script>
    <!-- includes jQuery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
