<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- includes the Braintree JS client SDK --> 
    <script src="&lt;script src=&quot;https://js.braintreegateway.com/web/dropin/1.42.0/js/dropin.min.js&quot;&gt;&lt;/script&gt;"></script> 
    <!-- includes jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
